<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <menuitem id="menu_payment_root" name="Payment" sequence="1">
            <menuitem id="menu_edu_payment" action="action_edu_payment"/>
            <menuitem id="menu_costs" action="action_costs"/>
            <menuitem id="menu_coupon" action="action_coupon"/>
            <menuitem id="menu_kpi" action="action_kpi"/>
            <menuitem id="menu_salary" action="action_salary"/>
        </menuitem>

    </data>
</odoo>